<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EXHALE</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Chat anonymously</h1>
    <ul id="messages"></ul>
    <input id="message-input" autocomplete="off" placeholder="Type your message...">
    <button onclick="sendMessage()">Send</button>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(message) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(message));
            ul.appendChild(li);
        });

        function sendMessage() {
            var message = document.getElementById('message-input').value;
            if (message) {
                socket.emit('message', message);
                document.getElementById('message-input').value = '';
            }
        }
    </script>
</body>
</html>

