<!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stress</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/edu.css')}}">

  </head>
  <body>
    <div id="header">
      <p>Exhale.</p>
  </div>
  <div id="quote">
      <b>DEEP DIVE INTO MENTAL HEALTH</b>
      <hr>
  </div>
  <div id="buttons">
      <button class="a">Anxiety</button>
      <button class="a">Stress</button>
      <button class="a">ADHD</button>
      <button class="a">Relationship Issues</button>
      <button class="a">OCD</button>
      <button class="a">Depression</button>
      <button class="a">PTSD</button>
      <button class="a">Bipolar Disorder</button>
      <button class="a">Pyschosis</button>
      <button class="a">Grief & Loss</button>
      <button class="a">Trauma</button>
      <button class="a">Couple Therapy</button>
      <button class="a">Teenage Issues</button>
      <button class="a">Self Harm</button>
      <button class="a">Suicidal</button>
      <button class="a">Insomnia</button>
      <button class="a">Schizophenia</button>
      <button class="a">Eating Disorders</button>
  </div>
  <div id="anxiety">
      <h1>Anxiety Disorder</h1>
      <p>In 2019, 301 million people were living with an anxiety disorder including 58 million children and adolescents.
          Anxiety disorders are characterised by excessive fear and worry and related behavioural disturbances.
         Symptoms are severe enough to result in significant distress or significant impairment in functioning. There are several different kinds of anxiety disorders, such as:</p>
      <ul>
          <li>Generalised anxiety disorder (characterised by excessive worry)</li>
          <li>Panic disorder (characterised by panic attacks)</li> 
          <li>Social anxiety disorder (characterised by excessive fear and worry in social situations)</li>
          <li>Separation anxiety disorder (characterised by excessive fear or anxiety about separation from those individuals to whom the person has a deep emotional bond), and others.</li>
          <li>Effective psychological treatment exists, and depending on the age and severity, medication may also be considered.</li>
      </ul>
  </div>
  <div id="stress">
      <h1>Stress</h1>
      <p>Effective psychological treatment exists, and depending on the age and severity, medication may also be considered.</p>
      <p>Learn Stress Management:</p>  
      <ul>
        <li>Keep a daily routine</li>
        <li>Get plenty of sleep</li>
        <li>Good sleep habits (also known as sleep hygiene)</li>
        <li>Go to bed at the same time each night and get up at the same time each morning, including on the weekends.</li>
        <li>If possible, make your sleeping area quiet, dark, relaxing and at a comfortable temperature.</li>
        <li>Limit your use of electronic devices, such as TVs, computers and smart phones, before sleeping.</li>
        <li>Avoid large meals, caffeine and alcohol before bedtime.</li>
        <li>Get some exercise. Being physically active during the day can help you fall asleep more easily at night.</li>
        <li>Connect with others</li>
        <li>Eat healthy</li>
        <li>Exercise regularly</li>
        <li>Exercise regularly.</li>
    </ul>
</div>

<div id="adhd">
    <h1>ADHD</h1>
    <p>One of the most common neurodevelopmental disorders of childhood. It is usually first diagnosed in childhood and often lasts into adulthood. Children with ADHD may have trouble paying attention, controlling impulsive behaviors (may act without thinking about what the result will be), or be overly active.</p>
    <p>It is normal for children to have trouble focusing and behaving at one time or another. However, children with ADHD do not just grow out of these behaviors. The symptoms continue, can be severe, and can cause difficulty at school, at home, or with friends.</p>
    <p>ADHD is best treated with a combination of behavior therapy and medication. For preschool-aged children (4-5 years of age) with ADHD, behavior therapy, particularly training for parents, is recommended as the first line of treatment before medication is tried. What works best can depend on the child and family. Good treatment plans will include close monitoring, follow-ups, and making changes.</p>
    <p>ADHD can last into adulthood. Some adults have ADHD but have never been diagnosed. The symptoms can cause difficulty at work, at home, or with relationships. Symptoms may look different at older ages, for example, hyperactivity may appear as extreme restlessness. Symptoms can become more severe when the demands of adulthood increase.</p>
</div>
<div id="relation">
    <h1>Relationship Issues</h1>
    <p>Relationships are one of the most important aspects of our lives. People who are more socially connected to family, friends, or their community are happier, physically healthier, and live longer, with fewer mental health problems than people who are less well connected.<p>
    <p>It is not just the number of friends you have, and it is not whether or not you’re in a committed relationship, but it’s the quality of your close relationships that matters. Living in conflict or within a toxic relationship is more damaging than being alone.</p>
    <p>Relationships, including the one you have with yourself, are vital to our mental wellbeing. People with healthy, positive and supportive relationships are more likely to be happier and healthier.
        Creating and maintaining good connections with others can also help to combat loneliness and improve mental health issues, such as stress and anxiety.
        </p>
</div>
<div id="ocd">
    <h1>Obsessive-compulsive disorder (OCD)</h1>
    <p>Obsessive-compulsive disorder (OCD) is a long-lasting disorder in which a person experiences uncontrollable and recurring thoughts (obsessions), engages in repetitive behaviors (compulsions), or both. People with OCD have time-consuming symptoms that can cause significant distress or interfere with daily life.
        People with OCD may have obsessions, compulsions, or both.
        Obsessions are repeated thoughts, urges, or mental images that are intrusive, unwanted, and make most people anxious.
        </p>
    <p>Compulsions are repetitive behaviors a person feels the urge to do, often in response to an obsession
        Not all repeated thoughts are obsessions, and not all rituals or habits are compulsions.
        people with OCD generally:
        Can not control their obsessions or compulsions, even when they know they are excessive.
        Spend more than 1 hour a day on their obsessions or compulsions.
        Don not get pleasure from their compulsions but may feel temporary relief from their anxiety.
        Experience significant problems in daily life due to these thoughts or behaviors.
        </p>
</div>
<div id="depression">
    <h1>Depression</h1>
    <p>In 2019, 280 million people were living with depression, including 23 million children and adolescents.
      Depression is different from usual mood fluctuations and short-lived emotional responses to challenges in everyday life.
      </p>
  <p>During a depressive episode, the person experiences depressed mood (feeling sad, irritable, empty) or a loss of pleasure or interest in activities, for most of the day, nearly every day, for at least two weeks. 
      Several other symptoms are also present, which may include poor concentration, feelings of excessive guilt or low self-worth, hopelessness about the future, thoughts about dying or suicide, disrupted sleep, changes in appetite or weight, and feeling especially tired or low in energy.
      </p>
  <p>People with depression are at an increased risk of suicide. Yet, effective psychological treatment exists, and depending on the age and severity, medication may also be considered.
      Depression is a mood disorder that causes a persistent feeling of sadness and loss of interest. Also called major depressive disorder or clinical depression, it affects how you feel, think and behave and can lead to a variety of emotional and physical problems
      </p>
</div>
<div id="ptsd">
  <h1>PTSD</h1>
  <p>PTSD may develop following exposure to an extremely threatening or horrific event or series of events. It is characterised by all of the following:</p>
  <ul>
      <li>Re-experiencing the traumatic event or events in the present (intrusive memories, flashbacks, or nightmares)</li>
      <li>Avoidance of thoughts and memories of the event(s), or avoidance of activities, situations, or people reminiscent of the event(s)</li>
      <li>Persistent perceptions of heightened current threat. </li>
      <li>This disorder develops in some people who have experienced a shocking, scary, or dangerous event.</li>
      <li>It is natural to feel afraid during and after a traumatic situation. Fear is a part of the body’s “fight-or-flight” response, which helps us avoid or respond to potential danger. People may experience a range of reactions after trauma, and most people recover from initial symptoms over time. Those who continue to experience problems may be diagnosed with PTSD.</li>
  </ul>
</div>
<div id="bipoloar">
  <h1>Bipolar Disorder</h1>
  <p>In 2019, 40 million people experienced bipolar disorder. 
      People with bipolar disorder experience alternating depressive episodes with periods of manic symptoms. During a depressive episode, the person experiences depressed mood (feeling sad, irritable, empty) or a loss of pleasure or interest in activities, for most of the day, nearly every day. 
      Manic symptoms may include euphoria or irritability, increased activity or energy, and other symptoms such as increased talkativeness, racing thoughts, increased self-esteem, decreased need for sleep, distractibility, and impulsive reckless behaviour. 
      People with bipolar disorder are at an increased risk of suicide. Yet effective treatment options exist including 
      psychoeducation
      reduction of stress and strengthening of social functioning
      medication.
      </p>
</div>




  </body>
  </html>