<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/homepage.css')}}">
</head>
<body>
    <header>
        <div id="exhale">
            <h1>Exhale.</h1>
            <div id="header1">
                <a href="#" class="a1">Get help</a>
                <a href="#" class="a2">Login</a>
                <a href="#" class="a3"><img src="" alt=""></a>
            </div>
        </div>
    </header>
    <main>
        <div id="yuri">
            <img src="0001.png" alt="#">
            <p>Mental Health is not weakness. It takes strength to seek support and prioritize self-care.</p>
            <button>Want to talk about it</button>
            <a href="#"><img src="0004.jpg"></a>
        </div>
        <div id="relationforhelp">
            <img src="0002.png">
            <button class="relbut1">Family</button>
            <button class="relbut2">Me</button>
            <button class="relbut3">Someone I Know</button>
        </div>
        <div id="consultants">
            <h1>Don't stay all bottled up, Get help from our consultants.</h1>
            <div id="consultantsdata">
                <div class="card1">
                    <img src="man.png" alt="man">
                    <div class="desc">
                        <h3>Rahul Kumar</h3>
                        <p>Delhi, India</p>
                        <button>Book appointment</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="woman.jpg" alt="woman">
                    <div class="desc">
                        <h3>Neha Sharma</h3>
                        <p>Jaipur, India</p>
                        <button>Book appointment</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="man.png" alt="man">
                    <div class="desc">
                        <h3>Harjeet Singh</h3>
                        <p>Punjab, India</p>
                        <button>Book appointment</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="woman.jpg" alt="woman">
                    <div class="desc">
                        <h3>Mansi Gupta</h3>
                        <p>UP, India</p>
                        <button>Book appointment</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="man.png" alt="man">
                    <div class="desc">
                        <h3>Krishnan Iyer</h3>
                        <p>Tamil Nadu, India</p>
                        <button>Book appointment</button>
                    </div>
                </div>
                <div class="card1">
                    <img src="woman.jpg" alt="woman">
                    <div class="desc">
                        <h3>Rekha Bhochare</h3>
                        <p>Maharashtra, India</p>
                        <button>Book appointment</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="meditationclassenroll">
            <img src="0003.png" alt="random img">
        </div>
        <div id="trynow">
            <img src="0005.jpg" alt="random img">
            <img src="0007.png" alt="random img">
            <h1 class="tnh1">Virtual Reality based Dream Analyzer</h1>
            <h1 class="tnh2">Virtual Reality Therapy</h1>
            <button id="tn1">Try now</button>
            <button id="tn2">Try now</button>
        </div>
        <div id="diseasesinfo">
            <h1>Dive Deep Into Mental Health</h1>
            </div>
            <div id="but">
                <button class="a">Anxiety</button>
                <button class="a">Stress</button>
                <button class="a">ADHD</button>
                <button class="a">Depression</button>
                <button class="a">PTSD</button>
                <button class="a">Know More</button>
            </div>
            <div id="wecare">
                <h1>We Care</h1>
                <h2>Need Motivation?</h2>
                <p>You don’t have to be positive all the time.It’s perfectly okay to feel sad,angry,annoyed,
                    frustrated,scared and anxious.
                    having feelings doesn’t make you a negative person. it makes you a HUMAN! </p>
                    <img src="" alt="#">
                    <button>Read stories to inspire</button>
                    <img src="" alt="#">
            </div>
            <div id="helpinghand">
                <h1>Helping hand</h1>
                <p>neither suffer alone nor let others,
                    Either take the helping hand or provide it. 
                    get sympathy and show companionship. 
                    join people on their healing journey 
                    and learn from people who fought back 
                    and won</p>
                <button>Connect</button>
                <img src="0006.jpg" alt="#">
                <div class="helpdesign"></div>
            </div>
        
    </main>
    <footer>
        <h1>Exhale</h1>
        <div id="footer1">
            <a href="#">Home</a>
            <a href="#">Business</a>
            <a href="#">Contact Us</a>
            <a href="#">About Us</a>
        </div>
        <div id="footer2">
            <a href="#">Terms & Condition</a>
            <a href="#">Privacy Policy</a>
            <a href="#">&copy; 2023 EXHALE</a>
        </div>
    </footer>
</body>
</html>